.Timeline {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1.5px solid lightgray;
  margin-left: 0.4%;
  border: 1px solid black !important;
  // width: 99.5% !important;
  margin-bottom: 1%;
  padding: 5px 20px;
  // margin-right: 1% !important;
}
.timeline-container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  // height: 150px;
  // overflow: hidden;
  position: relative;
  padding: 0 !important;

  .column {
    width: 100%;
    justify-content: center !important;
    p {
      margin-left: 3%;
    }
    .column2 {
      text-align: center !important;
      justify-content: center !important;
      display: flex;
      width: 100%;
      height: 10px;
      margin-top: 10px;
    }
  }
}
.time-labels {
  position: absolute;
  top: 55%; /* Adjust the distance between timeline and labels */
  display: flex;
  color: grey;
  font-size: 9px;
  font-weight: 600;
  justify-content: space-between;
  width: 100%;
 
}
.time-label{
  text-align: center;
  align-self: center;
  flex-direction: column;
  span{
    margin-left: 8px;
  }
}
.line {
  width: 1px;
  height: 20px;
  border-right: 1px dashed lightgrey;
  // border:1px solid blue;
}

.line-labels {
  position: absolute;
  top: 70%; /* Adjust the distance between timeline and labels */
  // left: 1%;
  display: flex;
  justify-content: space-between;
  color: rgb(62, 43, 43);
  font-size: 6px;
  width: 100%;
  margin-bottom: 0;
}
.line2-labels {
  position: absolute;
  top: 100%; /* Adjust the distance between timeline and labels */
  
  // left: 1%;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0) !important;
  font-size: 6px;
  width: 100%;
  margin-bottom: 0;
}
.legends {
  height: 12px;
  width: 12px;
  margin: auto;
  border-radius: 5px;
  &-title {
    font-size: 12px;
    color: grey;
  }
}
//   .timeline {
//     position: relative;
//     width: 100%;
//     height: 6px;
//     margin :0;

//   }

//   .timeline-event {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     align-items: flex-start;
//     justify-content: center;
//     flex-direction: column;
//     font-size: 14px;
//     color: #000000;
//     position: absolute;
//     top: -0px;
//   }

//   .event-time {
//     margin-top: -50px;
//     text-align: center;
//   }

.dt {
  &-heading {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    padding-top: 0.2%;
  }
}
// .react-datepicker-wrapper{
//     width : 50% !important;
//     .react-datepicker__input-container input{
//       height: 38px !important;
//       width: 100% !important;
//       color: #dac5ae;
//       border-color: dac5ae;
//       border : 0.5px solid #dac5ae;
//       border-radius: 5px;
//       text-align: center !important;

//     }

//     .datePickerInTimeLine{
//       text-align: center !important;

//     }
// }
.timeline {
  position: relative;
  height: 10px;
  background-color: rgb(97, 155, 97);
  margin-top: 10px;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 3%;
  margin-left: 0.5% !important;
  // margin-right: 2.5% !important;
}

.date-picker {
  width: 100% !important;
  // height: 30px;
  text-align: center;
  padding: 5px 0 !important;
  background-color: var(--secondary2-trans-100);
  border: none !important;
  border-radius: 8px !important;
  color: var(--secondary2);
  font-size: 12px;
  font-weight: 600;
}
.react-datepicker {
  font-family: var(--font-para);
  // height: 240px;
  // overflow: hidden;
  border: 1.5px solid var(--grey-100);
  border-radius: 10px !important;
  &-wrapper {
    width: 100%;
    // padding-right: calc(var(--bs-gutter-x) * .5);
    // padding-left: calc(var(--bs-gutter-x) * .5);
  }
  &__header {
    background-color: var(--secondary2-trans);
    border-color: var(--secondary2-trans);
    color: var(--primary) !important;
    border-radius: 9px 9px 0px 0 !important;
  }
  &__navigation {
    padding-top: 2%;
    &-icon {
      margin: auto;
      padding: auto;
    }
  }
  &__day {
    border-radius: 10px;
    width: 28px;
    height: 28px;
    border: 1.5px solid var(--secondary2-trans);
    &--keyboard-selected {
      background-color: var(--white-color);
      border: 1.5px solid var(--secondary2);
      outline: 2px solid var(--secondary2-trans);
      color: var(--secondary2);
    }
    // &--today {
    //   // background-image: var(--secondary-gradient);
    // }

    &:hover {
      background-color: var(--secondary2-trans);
      border: 1.5px solid var(--secondary2-trans);
      border-radius: 10px;
    }
    &--selected {
      background-image: var(--secondary-gradient);
    }
  }
  // &__triangle::after{
  //   // background-color: red !important;
  //   // border-color:var(--secondary2-trans) !important;
  //   border-color: red !important;

  // }
} 
.event {
  position: absolute;
  height: 100%;
  border-radius: 100px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.event:hover {
  opacity: 1;
}

.event[data-Category='Category2'] {
  background-color: red;
}

.event[data-Category='Category1'] {
  background-color: blue;
}

// .legends{
//   display: flex !important;
//   margin-bottom: 20px !important;
// }
